.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  #c {
    display: block; 
    margin: auto; 
    border: 6px solid #180b04; 

    border-radius: 6px;
    background-color: rgb(26, 10, 0);
  }